* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

.header {
    background-image: linear-gradient(rgba(163, 164, 168, 0.7), rgba(80, 92, 132, 0.7)), url(img/volcan\ 100.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.header img {
    width: 150px;
    margin-left: 50px;
    margin-top: 30px;
}


/*---------- imagen header --------*/

.head-nav {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    background-color: #DF760B;
    opacity: 86%;
    align-items: flex-end;
    overflow: hidden;
}

.logo {
    background-image: url(img/logo\ sin\ fondo\ 3.png);
}


/*---------- textbox inicial --------*/

.text-box {
    width: 99%;
    color: #cc7701bf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 50px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #cc7701bf;
}


/*---------- display navegación --------*/

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}


/*---------- links navegación index --------*/

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #573a0433;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 13px;
}


/*----- Footer -----*/

.footer {
    background-color: #fdb93c;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa {
    color: #fefefd;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}