.nosotros h1 {
    text-align: center;
    color: #804810;
    font-size: 50px;
}

.nosotros p {
    text-align: center;
    text-align: justify;
    margin: 0;
    padding: 15px;
    line-height: 20px;
    font-size: px;
    color: rgb(5, 5, 5);
}

.videoBallon {
    padding: 15px;
    align-items: center;
}

.video13c {
    padding: 25px;
    align-items: center;
}

.video13c h1 {
    font-size: 25px;
    color: #4F3930;
    padding: 15px;
}

.apiturismo {}

.imgApiturismo img {
    width: 300px;
    height: 380px;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
    top: -50px;
}

.imgNosotros {
    width: 300px;
    height: 380px;
}

.nosotros {
    background: rgb(246, 199, 148);
    overflow: auto;
    margin: 20px;
    /*Esta propiedad y valor obligan a que el navegador calcule y le asigne el tamaño al contenedor  y  no deja que los elementos hijos del contenedor principal "section" se desborden.*/
}

.nosotros iframe {
    float: left;
    margin: 0 10px 0 0;
}

.nosotros p {
    font-size: 13pt;
}

.fotosNosotros {
    display: flex;
    flex-direction: row;
    width: auto;
    flex: auto;
    margin-top: 20px;
}

.fotosNosotros {
    width: 350px;
    height: 350px;
    margin-bottom: 10px;
}

.apiturismo {
    margin: 20px;
    /*Esta propiedad y valor obligan a que el navegador calcule y le asigne el tamaño al contenedor  y  no deja que los elementos hijos del contenedor principal "section" se desborden.*/
}

.apiturismo img {
    float: left;
    margin: 0 10px 0 0;
    width: 350px;
    height: 350px;
}

.apiturismo h1 {
    text-align: center;
    color: #DF760B;
    font-size: 60px;
    padding: 10PX;
}

.apiturismo p {
    font-size: 13pt;
    margin: 10px;
}

.fotosApiturismo img {
    flex-direction: row-reverse;
    width: auto;
    flex: auto;
    margin: 20px;
    width: 350px;
    height: 365px;
    width: 100%;
    max-width: 300px;
    /* Ajusta el ancho máximo de la imagen */
    height: auto;
    margin: 20px;
    align-items: center;
    justify-items: center;
}