body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}


.caja {
    width: 300px;
    background-color: rgb(255, 246, 237);
    clear: left;
    margin: 30px auto;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #f2f2f2;
    border-image: initial;
    border-radius: 5px;
}

  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    background-color: #ffa600;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    /* width: 50%;
    padding: 10px;
    background-color: #ffa600;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center; */
  }
  
  button[type="submit"]:hover {
    background-color: #fbd999;
  }
  