/*-------contenido Productos-----------*/

h3 {
    justify-content: center;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

.container-prod {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.container-prod .carta-prod {
    width: 270px;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 15px;
    text-align: center;
    transition: all 0.25s;
    background: linear-gradient(209.19deg, #42240c 26.29%, #FFFFFF 138.51%);
}

.container-prod .carta-prod:hover {
    transform: translateY(-25px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-prod .carta-prod img {
    width: 210px;
    height: 300px;
    border-radius: 15px;
    max-width: 100%;
}

.titulo-item {
    font-size: large;
    justify-content: center;
    margin:  5px;
}

.precio-item {
    font-size: large;
    align-items: center;
    margin: 5px;
}

.carta-prod button {
    font-size: 1em;
    font-weight: 100;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: white;
    background-color: #4F3930;
    border-radius: 8px;
}

.carta-prod button:hover {
    background-color: #270e03;
}