/*productos*/

.contenido-p {
    width: 100%;
    height: 70vh;
    display: flex;
    float: center;
    
}

[class*="col-"] {
    padding: 20px;
}

.col-1 {
    width: 20%;
  
}

.col-1 img {
    width: 150px;
    height: 160px;
}

.col-2 {
    width: 40%;
    height: 60%;
    transition: all 500ms ease;
}

.col-2 img {
    width: 300px;
    height: 400px;
    overflow: hidden;
}



.col-3 {
    width: 40%;
    float: left;
    font-size: 20px;
}

.col-3 p {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-3 h4 {
    color: gray;
}

.col-3 .info-title {
    font-size: 30px;
}

button {
    
    font-size: 1em;
    font-weight: 100;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    background-color: #DF760B;
}


/*Carrusel*/



#contenedor-carrusel {
    border: 5px solid black;
    height:  300px;
    overflow: hidden;

}



.Carrusel-prod{
    border: 1px solid black;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    transition: all 0.25s;
}

.carta-prod{
    background: blue;
    height: 290px;
    width: 180px;
    border-radius: 0px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
    background: linear-gradient(209.19deg, #42240c 26.29%, #FFFFFF 138.51%);
}

.carta-prod img {
    width: 150px;
    height: 170px;
    border-radius: 0px;
    max-width: 100%;
}


.carta-prod:hover {
    transform: translateY(-25px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}

.titulo-item {
    font-size: small;
    justify-content: center;
    margin:  5px;
}

.precio-item {
    font-size: large;
    align-items: center;
    margin: 5px;
}

.Carrusel-prod .carta-prod button {
    font-size: 1em;
    font-weight: 100;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: white;
    background-color: #4F3930;
    border-radius: 8px;
}

.carta-prod button:hover {
    background-color: #270e03;
}

.flechas{
    
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

#tarjetacarrusel-1{
    background-color: rgb(165, 105, 105);
}
#tarjetacarrusel-2{
    background-color: rgb(75, 20, 20);
}
#tarjetacarrusel-3{
    background-color: rgb(20, 151, 15);
}













/*Carrusel*/






/*.title-carrusel {
    justify-content: center;
    font-size: 30px;
    text-align: center;
    
}

.Otros-productos {
    width: 100%;
    height: 350px;
    padding: 30px;
    background-color: aqua;
    overflow: hidden;
}

.Otros-productos .Carrusel-prod {

    display: flex;
    justify-content: center;
    height: 350px;
    padding:  30px #270e03;
    
    

}

.Otros-productos .Carrusel-prod .carta-prod {
    width: 180px;
    border-radius: 0px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 15px;
    text-align: center;
    transition: all 0.25s;
    background: linear-gradient(209.19deg, #42240c 26.29%, #FFFFFF 138.51%);
    
}

.Carrusel-prod .carta-prod:hover {
    transform: translateY(-25px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}

.Carrusel-prod .carta-prod img {
    width: 150px;
    height: 170px;
    border-radius: 0px;
    max-width: 100%;
}

.titulo-item {
    font-size: small;
    justify-content: center;
    margin:  5px;
}

.precio-item {
    font-size: large;
    align-items: center;
    margin: 5px;
}

.Carrusel-prod .carta-prod button {
    font-size: 1em;
    font-weight: 100;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: white;
    background-color: #4F3930;
    border-radius: 8px;
}

.carta-prod button:hover {
    background-color: #270e03;
}
.Carrusel-prod .flechas{
    position: absolute;
    display: flex;
    width: 90%;
    height: 350px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}
   
    

 /*
.galeria-otros-prod{
    width: 100%;
    display: flex;
    overflow-y: auto;
    width: 180px;
    margin-right: 15ps;

}

.Carrusel-prod .carta-prod {
    width: 100%;
    border-radius: 0px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 15px;
    text-align: center;
    transition: all 0.25s;
    background: linear-gradient(209.19deg, #42240c 26.29%, #FFFFFF 138.51%);
}

.Carrusel-prod .carta-prod:hover {
    transform: translateY(-25px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}

.Carrusel-prod .carta-prod img {
    width: 150px;
    height: 170px;
    border-radius: 0px;
    max-width: 100%;
}

.titulo-item {
    font-size: small;
    justify-content: center;
    margin:  5px;
}

.precio-item {
    font-size: large;
    align-items: center;
    margin: 5px;
}

.Carrusel-prod .carta-prod button {
    font-size: 1em;
    font-weight: 100;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: white;
    background-color: #4F3930;
    border-radius: 8px;
}

.carta-prod button:hover {
    background-color: #270e03;
}

